<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edgar.mapper.Test2TableMapper">
	<resultMap id="Test2TableResultMap" type="Test2Table">
		<result column="test_id" property="testId" />
		<result column="test_code2" property="testCode2" />
		<result column="dict_name" property="dictName" />
		<result column="parent_code" property="parentCode" />
		<result column="sorted" property="sorted" />
	</resultMap>

	<insert id="insert" parameterType="Test2Table">
		insert into 
		test2_table(test_id, test_code2, dict_name, sorted) 
		values(${testId}, ${testCode2}, ${dictName}, ${sorted})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from test2_table 
		where test_code2 = #{test_code2} and test_id = #{test_id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="Test2Table">
		update test2_table set  
		test_id = ${testId}, 
		test_code2 = ${testCode2}, 
		dict_name = ${dictName}, 
		sorted = ${sorted}, 
		where test_code2 = test_code2 = #{testCode2} and test_id = test_id = #{testId}
	</update>

	<update id="updateByPrimaryKeyWithLock" parameterType="Test2Table">
		update test2_table set  
		test_id = ${testId}, 
		test_code2 = ${testCode2}, 
		dict_name = ${dictName}, 
		sorted = ${sorted}, 
		where test_code2 = test_code2 = #{testCode2} 
t	and test_id = test_id = #{testId}
	</update>

	<select id="selectByPrimaryKey" resultMap="Test2TableResultMap" parameterType="map">
		select test_id, test_code2, dict_name, parent_code, sorted 
		from test2_table 
		where test_code2 = #{test_code2} and test_id = #{test_id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>